parameters:
    level: 9
    paths:
        - app/
        - tests/
        - database/
    doctrine:
        objectManagerLoader: tests/ObjectManager.php
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
